---
import ExperienceItem from "./ExperienceItem.astro";
---

<section id="experience">
    <!-- Sección Experiencia -->
    <div class="flex items-center mb-4 mt-10 custom-img">
        <img class="w-5 h-5 mr-1" src="/src/assets/icons/workIcon.png" alt="Icono de trabajo">
        <h4 class="font-bold text-lg">Professional Experience</h4>
    </div>
    
    <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        <ExperienceItem />
    </ol>
</section>
