---
import { Image } from 'astro:assets';
const { name, src} = Astro.props;
---

<div class="bg-sec-color text-white font-bold text-center py-2 px-3 rounded-full text-sm hover:bg-red-400 min-w-32">
    <Image class="w-4 h-4 inline-block mr-1" src={src} alt='icon'/> 
    <span translate="no" >{name}</span> 
</div>
