---
import StudyItem from "./StudyItem.astro";
---

<section id="education">
    <div class="flex items-center mb-4 mt-10 custom-img">
        <img class="w-5 h-5 mr-1" src="/src/assets/icons/studyIcon.png" alt="Icono de trabajo">
        <h4 class="font-bold text-lg">Studies</h4>
    </div>
    
    <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        <StudyItem />
    </ol>
</section>
